body {
    background-image: url("https://i.pinimg.com/originals/4e/d9/3a/4ed93a925416e114dd4f9657e9121c1b.jpg");
    background-repeat: no-repeat;
    font-family: serif;
   
    background-size: 1400px;
    color: white;
}

h1 {
    background-color: black;
    text-align: center;
}



